backend/FileManager.Core/files.db
backend/FileManager.Core/files.db-shm
backend/FileManager.Core/files.db-wal
[bB]in/
[oO]bj/
__pycache__/
*.pyc
.vs/
.vscode/

*.db
*.db-journal

frontend/dist-electron/
